<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Admin Elements</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Admin elements styled with Bulma">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Dashboards Elements built styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/admin.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-6-tablet is-3-desktop">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-header-title is-inline">Income<span class="tag is-success is-pulled-right">Monthly</span></h3>
                </div>
                <div class="card-content">
                  <h3 class="title">108,200</h3>
                  <p>Total income</p>
                  <p><img src="placeholder/icons/level-up.svg" alt=""> 82%</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-header-title is-inline">Orders<span class="tag is-success is-pulled-right">Monthly</span></h3>
                </div>
                <div class="card-content">
                  <h3 class="title">128,430</h3>
                  <p>New orders</p>
                  <p><img src="placeholder/icons/level-up.svg" alt=""> 32%</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-header-title is-inline"> Visits<span class="tag is-success is-pulled-right">Today</span></h3>
                </div>
                <div class="card-content">
                  <h3 class="title">81,248</h3>
                  <p>New visits</p>
                  <p><img src="placeholder/icons/level-up.svg" alt=""> 24%</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-header-title is-inline">User activity<span class="tag is-danger is-pulled-right">Today</span></h3>
                </div>
                <div class="card-content">
                  <h3 class="title">2,341</h3>
                  <p>Used app more than once</p>
                  <p><img src="placeholder/icons/level-down.svg" alt=""> 42%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-6-tablet is-3-desktop">
              <div class="box">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48"><img src="placeholder/icons/folder-o.svg" alt=""></figure>
                  </div>
                  <div class="media-content has-text-right">
                    <h3 class="title is-1 has-text-info">2</h3>
                  </div>
                </div>
                <h4 class="title">Projects</h4>
                <progress class="progress is-info" role="progressbar" value="75" max="100"></progress>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="box">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48"><img src="placeholder/icons/users.svg" alt=""></figure>
                  </div>
                  <div class="media-content has-text-right">
                    <h3 class="title is-1 has-text-danger">117</h3>
                  </div>
                </div>
                <h4 class="title">Clients</h4>
                <progress class="progress is-danger" role="progressbar" value="75" max="100"></progress>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="box">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48"><img src="placeholder/icons/file-text-o.svg" alt=""></figure>
                  </div>
                  <div class="media-content has-text-right">
                    <h3 class="title is-1 has-text-success">248</h3>
                  </div>
                </div>
                <h4 class="title">Invoices</h4>
                <progress class="progress is-success" role="progressbar" value="75" max="100"></progress>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="box">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48"><img src="placeholder/icons/calendar-o.svg" alt=""></figure>
                  </div>
                  <div class="media-content has-text-right">
                    <h3 class="title is-1 has-text-info">14</h3>
                  </div>
                </div>
                <h4 class="title">Appointments</h4>
                <progress class="progress is-info" role="progressbar" value="75" max="100"></progress>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>