<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Blog Elements</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blog elements styled with Bulma">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Blog Elements built styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/blog.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title has-text-centered">Bulma Blog Element - Cards</h2>
          <div class="columns">
            <div class="column">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
                  <h5 class="title is-5"><a href="#">Why I'm the Best Programmer Ever</a></h5><a class="button is-primary" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
                  <h5 class="title is-5"><a href="#">Secrets of Decentralization</a></h5><a class="button is-primary" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
                  <h5 class="title is-5"><a href="#">Why Strong Tea Isn't Good</a></h5><a class="button is-primary" href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title has-text-centered">Bulma Blog Element - Cards #2</h2>
          <div class="columns is-multiline">
            <div class="column is-6-tablet is-3-desktop">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content">
                  <div class="block"><small class="is-size-7">25 Jun 2019 | By Dinesh Chugtai</small></div>
                  <h5 class="title is-6"><a href="#">Why I'm the Best Programmer Ever</a></h5>
                  <p>I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm the best programmer in the world.</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content">
                  <div class="block"><small class="is-size-7">25 Jun 2018 | By Bertram Gilfoyle</small></div>
                  <h5 class="title is-6"><a href="#">Secrets of Decentralization</a></h5>
                  <p>What makes decentralization so great? Let me enlighten you with my wisdom</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content">
                  <div class="block"><small class="is-size-7">25 Jun 2018 | By Monica Hall</small></div>
                  <h5 class="title is-6"><a href="#">How Our ICO Almost Failed</a></h5>
                  <p>This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still managed to secure vast funding.</p>
                </div>
              </div>
            </div>
            <div class="column is-6-tablet is-3-desktop">
              <div class="card" style="height: 100%">
                <div class="card-image"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="card-content">
                  <div class="block"><small class="is-size-7">25 Jun 2018 | By Jared Dunn</small></div>
                  <h5 class="title is-6"><a href="#">Why Strong Tea Isn't Good For CEOs</a></h5>
                  <p>An exhaustive guide about how different teas can affect a CEO during their workday.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="buttons is-centered"><a class="button is-primary" href="#">Read more</a></div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>