<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Contact Forms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Contact forms styled with Bulma">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Contact forms built styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/contacts.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title has-text-centered">Bulma Contact Form - Text Left</h2>
          <div class="columns">
            <div class="column is-6">
              <h4 class="title is-spaced is-4">Let's talk about the future of the internet</h4>
              <p class="subtitle">We're here to answer your questions and discuss the decentralized future of the internet.</p>
              <div>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-24x24"><img src="placeholder/icons/map-marker.svg" alt=""></figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>Pied Piper HQ - 59 Silicon Av.</p>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-24x24"><img src="placeholder/icons/phone.svg" alt=""></figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>555-333-555</p>
                    </div>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-24x24"><img src="placeholder/icons/envelope.svg" alt=""></figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>pay-the-piper@piedpiper.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-5 is-offset-1">
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Email">
                  </div>
                </div>
                <div class="field">
                  <div class="select is-fullwidth">
                    <select>
                      <option disabled selected>Select product</option>
                      <option>Product 1</option>
                      <option>Product 2</option>
                      <option>Product 3</option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" rows="5" placeholder="Write something..."></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary is-fullwidth" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title has-text-centered">Bulma Contact Form - Image Left</h2>
          <div class="columns">
            <div class="column is-6"><img src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
            <div class="column is-6">
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Email">
                  </div>
                </div>
                <div class="field">
                  <div class="select is-fullwidth">
                    <select>
                      <option disabled selected>Select product</option>
                      <option>Product 1</option>
                      <option>Product 2</option>
                      <option>Product 3</option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" rows="5" placeholder="Write something..."></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary is-fullwidth" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>