<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Cookies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cookies styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Cookies styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/cookies.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section>
        <div class="notification">
          <button class="delete"></button>
          <h3 class="title">Cookie Policy</h3>
          <p class="subtitle">We use cookies to personalise content, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners. If you want to change your cookie setting, please see the ‘how to reject cookies' section of our <a href="#">Cookie Policy</a>. Otherwise, if you agree to our use of cookies, please continue to use our website.</p>
          <button class="button is-primary">I accept cookies</button>
        </div>
      </section>
      <hr>
      <section>
        <div class="notification">
          <button class="delete"></button>
          <p class="block">We use cookies to personalise content, to&nbsp;provide social media features and to&nbsp;analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners. If you want to change your cookie setting, please see the ‘how to reject cookies' section of our <a href="#">Cookie Policy</a>. Otherwise, if you agree to our use of cookies, please continue to use our website.</p>
          <button class="button is-primary">I accept cookies</button>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>