<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Call to action</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Call to action styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Call to action styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/cta.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title is-spaced">Future of the Internet</h2>
          <p class="subtitle">Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.</p><a class="button is-primary" href="#">Join the Revolution!</a>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title is-spaced">Future of the Internet</h2>
          <p class="subtitle">Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.</p>
          <div class="buttons is-centered"><a class="button is-primary" href="#">Join the Revolution!</a></div>
          <h3 class="title is-5">Great Companies that already use PiperNet</h3>
          <div class="columns">
            <div class="column"><img src="https://bulma.dev/placeholder/logos/gitscape.svg?primary=00d1b2" alt=""></div>
            <div class="column"><img src="https://bulma.dev/placeholder/logos/k-hole.svg?primary=00d1b2" alt=""></div>
            <div class="column"><img src="https://bulma.dev/placeholder/logos/tholio.svg?primary=00d1b2" alt=""></div>
            <div class="column"><img src="https://bulma.dev/placeholder/logos/plucky.svg?primary=00d1b2" alt=""></div>
            <div class="column"><img src="https://bulma.dev/placeholder/logos/1stsight.svg?primary=00d1b2" alt=""></div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>