<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - eCommerce Elements</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="eCommerce Elements styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">eCommerce Elements styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/ecomm.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <div class="columns is-desktop is-vcentered">
            <div class="column is-6-desktop"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
            <div class="column is-6-desktop">
              <div class="level is-mobile">
                <div class="level-left"><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/unicorn.svg" alt=""></a></div>
              </div>
              <h2 class="title is-spaced">Official Pied Piper T-Shirt</h2>
              <p class="subtitle">This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.</p>
              <div class="level is-mobile">
                <div class="level-left"><a class="level-item" href="#">
                    <div class="tag is-primary">&nbsp;</div></a><a class="level-item" href="#">
                    <div class="tag is-danger">&nbsp;</div></a><a class="level-item" href="#">
                    <div class="tag is-dark">&nbsp;</div></a><a class="level-item" href="#">
                    <div class="tag is-info">&nbsp;</div></a></div>
              </div>
              <div class="columns">
                <div class="column is-half">
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">$399</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <input class="input" type="number" placeholder="1">
                        </div>
                      </div>
                      <div class="field">
                        <div class="control">
                          <button class="button is-primary">Buy Now!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item"><a href="#">Add to favorites</a></div>
                </div>
                <div class="level-right">
                  <div class="level-item">Share</div><a class="level-item" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <div class="columns is-desktop is-vcentered">
            <div class="column is-6-desktop">
              <h2 class="title">Official Pied Piper T-Shirt</h2>
              <p class="subtitle">$39,99 (Ex. Tax)</p>
              <div class="tabs">
                <ul>
                  <li class="is-active"><a href="#">Active Tab</a></li>
                  <li><a href="#">Inactive One</a></li>
                  <li><a href="#">Inactive Two</a></li>
                </ul>
              </div>
              <p class="subtitle">This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.</p>
              <table class="table is-fullwidth">
                <tbody>
                  <tr>
                    <td>Item one</td>
                    <td class="has-text-right">First value</td>
                  </tr>
                  <tr>
                    <td>Item two</td>
                    <td class="has-text-right">Secound value</td>
                  </tr>
                  <tr>
                    <td>Item three</td>
                    <td class="has-text-right">Third value</td>
                  </tr>
                </tbody>
              </table>
              <button class="button is-primary">Buy Now!</button>
            </div>
            <div class="column is-6-desktop"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="">
              <div class="level is-mobile">
                <div class="level-item"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
                <div class="level-item"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
                <div class="level-item"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>