<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Footers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Footers styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Footers styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/footers.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <footer class="footer">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div class="level-item"><a class="title is-4" href="#">Bulma Footer #1</a></div>
            </div>
            <div class="level-right"><a class="level-item" href="#">Features</a><a class="level-item" href="#">Enterprise</a><a class="level-item" href="#">Support</a><a class="level-item" href="#">ICO</a></div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <div class="buttons"><a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a></div>
            </div>
            <div class="column has-text-centered has-text-right-tablet">
              <p class="subtitle is-6">&copy; 2019  - MIT License</p>
            </div>
          </div>
        </div>
      </footer>
      <hr>
      <footer class="footer">
        <div class="container">
          <div class="columns">
            <div class="column is-4 has-text-centered is-hidden-tablet"><a class="title is-4" href="#"></a></div>
            <div class="column is-4">
              <div class="level"><a class="level-item" href="#">Features</a><a class="level-item" href="#">Enterprise</a></div>
            </div>
            <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-4" href="#">Bulma Footer #2</a></div>
            <div class="column is-4 has-text-right">
              <div class="level"><a class="level-item" href="#">Support</a><a class="level-item" href="#">ICO</a></div>
            </div>
          </div>
          <p class="subtitle has-text-centered is-6">&copy; 2019  - MIT License</p>
        </div>
      </footer>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>