<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Grid</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Grid styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Grid styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/grid.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <div class="columns">
            <div class="column">
              <h4 class="title is-spaced is-4">Decentralized</h4>
              <p class="subtitle is-6">Your data is stored in many places at once. Awesome, right?</p>
            </div>
            <div class="column">
              <h4 class="title is-spaced is-4">Secure</h4>
              <p class="subtitle is-6">Nobody will be able to use your data without your consent.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <div class="columns is-multiline">
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Security</h4>
              <p class="subtitle is-6">Your data is virtually unhackable compared to traditional net.</p>
            </div>
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Privacy</h4>
              <p class="subtitle is-6">Nobody is tracking you when your activity when you use PiperNet.</p>
            </div>
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Speed</h4>
              <p class="subtitle is-6">Previously unimaginable transfer speed thanks to middle-out compression.</p>
            </div>
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Decentralization</h4>
              <p class="subtitle is-6">Decentralized design allows data to flow freely and efficiently.</p>
            </div>
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Infrastructureless</h4>
              <p class="subtitle is-6">Gather computing power from idle machines in your network to act as a decentralized server.</p>
            </div>
            <div class="column is-6 is-4-desktop">
              <h4 class="title is-spaced is-4">Storage</h4>
              <p class="subtitle is-6">Store your data safely, and access it faster than ever.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>