<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - How it Works</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="How it Works elements styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">How it Works elements styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/how-it-works.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">PiperNet Setup</h2>
          <div class="columns is-multiline is-centered">
            <div class="column is-8 is-4-widescreen">
              <div class="block"><img src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
              <h4 class="title"><small class="number">1</small> Move Data</h4>
              <p>Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.</p>
            </div>
            <div class="column is-8 is-4-widescreen">
              <div class="block"><img src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
              <h4 class="title"><small class="number">2</small> Integrate Software</h4>
              <p>We want to make sure that you can keep using the software that you use to manage your  business.</p>
            </div>
            <div class="column is-8 is-4-widescreen">
              <div class="block"><img src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
              <h4 class="title"><small class="number">3</small> Ongoing Support</h4>
              <p>As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for&nbsp;you.</p>
            </div>
          </div>
          <div class="buttons is-centered"><a class="button is-primary" href="">Learn more</a></div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title has-text-centered">PiperNet Setup</h2>
          <div class="columns is-vcentered">
            <div class="column">
              <h2 class="title is-spaced">How to start</h2>
              <p class="subtitle">Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.</p><a class="button is-primary" href="#">Start Setup!</a>
            </div>
            <div class="column"><img src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt=""></div>
          </div>
          <hr>
          <div class="level">
            <div class="level-item">
              <div class="number has-background-primary">1</div>
              <h4 class="title is-4">Move</h4>
            </div>
            <div class="level-item">
              <div class="number">2</div>
              <h4 class="title is-4">Integrate</h4>
            </div>
            <div class="level-item">
              <div class="number">3</div>
              <h4 class="title is-4">Support</h4>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>