<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Navbar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Navbars styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Navbars styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/navbar.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand"><a class="navbar-item" href="#">Pied Piper</a><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a></div>
          <div class="navbar-menu">
            <div class="navbar-start"><a class="navbar-item" href="#">Features</a><a class="navbar-item" href="#">Enterprise</a><a class="navbar-item" href="#">Support</a>
              <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link">ICO</a>
                <div class="navbar-dropdown"><a class="navbar-item navbar-item-dropdown" href="#">Whitepaper</a><a class="navbar-item navbar-item-dropdown" href="#">Token</a></div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons"><a class="button is-light" href="#">Log in</a><a class="button is-primary" href="#">Sign up</a></div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>