<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Pagination</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pagination styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Pagination styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/pagination.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <nav>
        <div class="container">
          <div class="pagination" role="navigation" aria-label="pagination"><a class="pagination-previous">Previous</a><a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
              <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
              <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
      <nav>
        <div class="container">
          <div class="pagination is-centered" role="navigation" aria-label="pagination"><a class="pagination-previous">Previous</a><a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
              <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
              <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
              <li><span class="pagination-ellipsis">&hellip;</span></li>
              <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>