<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Portfolio styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/portfolio.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container">
          <h2 class="title">Great Companies that already use PiperNet</h2>
          <div class="columns">
            <div class="column is-9"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3">
              <div class="columns is-mobile is-multiline">
                <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
                <div class="column is-4-mobile is-12-tablet"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-half">
              <h4 class="title is-spaced is-4">Client: K-Hole</h4>
              <p class="subtitle">We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">Great Companies that already use PiperNet</h2>
          <div class="block"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="columns is-mobile">
            <div class="column is-3"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
            <div class="column is-3"><a href="#"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          </div>
          <h4 class="title is-spaced is-4">Client: K-Hole</h4>
          <p class="subtitle">We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!</p>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>