<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Pricing components</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pricing components styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Pricing components styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/pricing.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">Bulma Pricing #1</h2>
          <hr>
          <div class="columns">
            <div class="column">
              <h3 class="title is-4">Small Piper</h3>
              <h4 class="title is-spaced is-5">$10 <small>Per user / monthly</small></h4>
              <p class="subtitle">Join our network, but build and manage everything yourself.</p>
              <hr>
              <ul>
                <li>100GB storage</li>
                <li>5 Applications</li>
                <li>20 users max</li>
                <li>Unlimited Data Transfer</li>
              </ul>
              <hr>
              <div class="buttons is-centered">
                <button class="button is-primary" type="button">Contact Sales</button>
              </div>
            </div>
            <div class="column">
              <h3 class="title is-4">Medium Piper</h3>
              <h4 class="title is-spaced is-5">$50 <small>Per user / monthly</small></h4>
              <p class="subtitle">We build what you need, but you still need to manage your data.</p>
              <hr>
              <ul>
                <li>1000GB storage</li>
                <li>20 Applications</li>
                <li>200 users max</li>
                <li>Unlimited Data Transfer</li>
              </ul>
              <hr>
              <button class="button is-primary is-outlined" type="button">Contact Sales</button>
            </div>
            <div class="column">
              <h3 class="title is-4">Enterprise Piper</h3>
              <h4 class="title is-spaced is-5">$100 <small>Per user / monthly</small></h4>
              <p class="subtitle">We do everything for you, including managing your data.</p>
              <hr>
              <ul>
                <li>Unlimited storage</li>
                <li>Unlimited Applications</li>
                <li>Unlimited users max</li>
                <li>Unlimited Data Transfer</li>
              </ul>
              <hr>
              <button class="button is-primary is-outlined" type="button">Contact Sales</button>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">Bulma Pricing #2</h2>
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Small Piper</h3>
                  <p class="block">Join our network, but build and manage everything yourself.</p>
                  <h4 class="title is-spaced is-5">$10 <small>Per user / monthly</small></h4>
                  <button class="button is-primary" type="button">Contact Sales</button>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Medium Piper</h3>
                  <p class="block">We build what you need, but you still need to manage your data.</p>
                  <h4 class="title is-spaced is-5">$50 <small>Per user / monthly</small></h4>
                  <button class="button is-primary is-outlined" type="button">Contact Sales</button>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <h3 class="title is-4">Enterprise Piper</h3>
                  <p class="block">We do everything for you, including managing your data.</p>
                  <h4 class="title is-spaced is-5">$100 <small>Per user / monthly</small></h4>
                  <button class="button is-primary is-outlined" type="button">Contact Sales</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>