<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Sign-in Forms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sign-in Forms styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Sign-in Forms styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/sign-in.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-5 is-4-desktop">
              <h2 class="title">Bulma Form #1</h2>
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Email">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input" type="password" placeholder="Password">
                  </div>
                </div>
                <div class="field">
                  <button class="button is-primary is-fullwidth">Sign in!</button>
                </div><a href="#">or sign in with Facebook</a>
              </form>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <div class="columns is-centered">
            <div class="column is-5 is-4-desktop">
              <h2 class="title">Bulma Form #2</h2>
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input" type="email" placeholder="Email">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" placeholder="Name">
                  </div>
                </div>
                <div class="field">
                  <div class="control">                       
                    <input class="input" type="password" placeholder="Password">
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <button class="button is-primary is-outlined is-fullwidth">Sign In!</button>
                  </div>
                  <div class="control is-expanded">
                    <button class="button is-primary is-fullwidth">Sign up!</button>
                  </div>
                </div>
                <p>By signing in you agree with the <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a>.</p>
              </form>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>