<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bulma CSS - Testimonial Cards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Testimonial Cards styled with Bulma CSS">
    <meta name="author" content="Bulma-Css.com">
    <link rel="stylesheet" href="css/bulma/bulma-theme.css">
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
    <div class="container is-fluid">
      <section class="section">
        <div class="container">
          <h1 class="title has-text-centered">Bulma CSS </h1>
          <p class="has-text-centered subtitle">Testimonial Cards styled with Bulma -  <a href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/testimonials.pug">source code</a></p>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">Testimonial #1</h2>
          <div class="columns">
            <div class="column">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
                </div>
              </div>
              <p class="block">It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!</p>
              <h5 class="title is-5">Colin</h5>
              <p class="subtitle">CEO at K-Hole</p>
            </div>
            <div class="column">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
                </div>
              </div>
              <p class="block">This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!</p>
              <h5 class="title is-5">Russ Hanneman</h5>
              <p class="subtitle">Investor, Angel, Great Guy</p>
            </div>
            <div class="column">
              <div class="level">
                <div class="level-item">
                  <figure class="image is-128x128"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
                </div>
              </div>
              <p class="block">Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.</p>
              <h5 class="title is-5">Fiona</h5>
              <p class="subtitle">Artificial Intelligence</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="section">
        <div class="container has-text-centered">
          <h2 class="title">Testimonial #2</h2>
          <div class="columns">
            <div class="column">
              <p class="block">It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!</p>
              <div class="level">
                <div class="level-item">
                  <figure class="image is-64x64"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                </div>
              </div>
              <h5 class="title is-5">Colin</h5>
              <p class="subtitle">CEO at K-Hole</p>
            </div>
            <div class="column">
              <p class="block">This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!</p>
              <div class="level">
                <div class="level-item">
                  <figure class="image is-64x64"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                </div>
              </div>
              <h5 class="title is-5">Russ Hanneman</h5>
              <p class="subtitle">Investor, Angel, Great Guy</p>
            </div>
            <div class="column">
              <p class="block">Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.</p>
              <div class="level">
                <div class="level-item">
                  <figure class="image is-64x64"><img class="is-rounded" src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2"></figure>
                </div>
              </div>
              <h5 class="title is-5">Fiona</h5>
              <p class="subtitle">Artificial Intelligence</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <div class="container is-fluid">
        <footer class="footer">
          <div class="container">
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-5" href="https://github.com/bulma-css-templates/bulma-components">Github Sources</a></div>
              <div class="column is-4 has-text-right"></div>
            </div>
            <p class="subtitle has-text-centered is-6">&copy; <a href="https://bulma-css.com">Bulma-CSS - </a><a href="https://appseed.us/apps/bulma-css">Bulma Apps</a></p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>