
.container.is-fluid

    footer.footer
        .container
            .columns

                .column.is-4

                .column.is-4.has-text-centered.is-hidden-mobile
                    a.title.is-5(href="https://github.com/bulma-css-templates/bulma-components") Github Sources

                .column.is-4.has-text-right

            p.subtitle.has-text-centered.is-6 &copy; 
                a(href="https://bulma-css.com") Bulma-CSS - 
                a(href="https://appseed.us/apps/bulma-css") Bulma Apps
