doctype html
html(lang="en")
    head
        title Bulma CSS - Blog Elements
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Blog elements styled with Bulma")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Blog Elements built styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/blog.pug") source code

            hr 

            section.section
                .container
                    h2.title.has-text-centered Bulma Blog Element - Cards

                    .columns
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Why I'm the Best Programmer Ever
                                    a.button.is-primary(href="#") Read more
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Secrets of Decentralization
                                    a.button.is-primary(href="#") Read more

                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    span.is-size-7 25 Jun 2019
                                    h5.title.is-5
                                        a(href="#") Why Strong Tea Isn't Good
                                    a.button.is-primary(href="#") Read more

            hr 

            section.section
                .container
                    h2.title.has-text-centered Bulma Blog Element - Cards #2

                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2019 | By Dinesh Chugtai
                                    h5.title.is-6
                                        a(href="#") Why I'm the Best Programmer Ever
                                    p I feel like not everybody outside of Pied Piper knows it, so I wanted to make it clear why I'm the best programmer in the world.

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Bertram Gilfoyle
                                    h5.title.is-6
                                        a(href="#") Secrets of Decentralization
                                    p What makes decentralization so great? Let me enlighten you with my wisdom

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Monica Hall
                                    h5.title.is-6
                                        a(href="#") How Our ICO Almost Failed
                                    p This is a short story about how we uncovered an insane problem with our ICO, fixed it, and still managed to secure vast funding.

                        .column.is-6-tablet.is-3-desktop
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .card-content
                                    .block
                                        small.is-size-7 25 Jun 2018 | By Jared Dunn
                                    h5.title.is-6
                                        a(href="#") Why Strong Tea Isn't Good For CEOs
                                    p An exhaustive guide about how different teas can affect a CEO during their workday.

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more

            hr

            include components/footer.pug 
