doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h2.title.has-text-centered Contact the Pied Piper team

                    .columns
                        .column.is-6
                            h4.title.is-spaced.is-4 Let's talk about the future of the internet
                            p.subtitle We're here to answer your questions and discuss the decentralized future of the internet.
                            div
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/map-marker.svg", alt="")
                                    .media-content
                                        .content
                                            p Pied Piper HQ - 59 Silicon Av.
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/phone.svg", alt="")
                                    .media-content
                                        .content
                                            p 555-333-555
                                .media
                                    .media-left
                                        figure.image.is-24x24
                                            img(src="placeholder/icons/envelope.svg", alt="")
                                    .media-content
                                        .content
                                            p pay-the-piper@piedpiper.com

                        .column.is-5.is-offset-1
                            form
                                .field
                                    .control
                                        input.input(type="email", placeholder="Email")
                                .field
                                    .select.is-fullwidth
                                        select
                                            option(disabled, selected) Select product
                                            option Product 1
                                            option Product 2
                                            option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                
                                .field
                                    .control
                                        button.button.is-primary.is-fullwidth(type="submit") Submit

            section.section
                .container
                    h2.title.has-text-centered Contact the Pied Piper team

                    .columns
                        .column.is-6
                            img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                        .column.is-6
                            form
                                .field
                                    .control
                                        input.input(type="email", placeholder="Email")
                                .field
                                    .select.is-fullwidth
                                        select
                                            option(disabled, selected) Select product
                                            option Product 1
                                            option Product 2
                                            option Product 3
                                .field
                                    .control
                                        textarea.textarea(rows="5", placeholder="Write something...")
                                
                                .field
                                    .control
                                        button.button.is-primary.is-fullwidth(type="submit") Submit