doctype html
html(lang="en")
    head
        title Bulma CSS - eCommerce Elements
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="eCommerce Elements styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle eCommerce Elements styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/ecomm.pug") source code

            hr 

            section.section
                .container
                    .columns.is-desktop.is-vcentered
                        .column.is-6-desktop
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                        .column.is-6-desktop
                            .level.is-mobile
                                .level-left
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/unicorn.svg", alt="")

                            h2.title.is-spaced Official Pied Piper T-Shirt
                            p.subtitle This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.

                            .level.is-mobile
                                .level-left
                                    a.level-item(href="#")
                                        .tag.is-primary &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-danger &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-dark &nbsp;
                                    a.level-item(href="#")
                                        .tag.is-info &nbsp;
                            
                            .columns
                                .column.is-half
                                    .field.is-horizontal
                                        .field-label.is-normal
                                            label.label $399
                                        .field-body
                                            .field
                                                .control
                                                    input.input(type="number" placeholder="1")
                                            .field
                                                .control
                                                    button.button.is-primary Buy Now!

                            hr

                            .level.is-mobile
                                .level-left
                                    .level-item
                                        a(href="#") Add to favorites
                                .level-right
                                    .level-item Share
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/facebook-f.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/twitter.svg", alt="")
                                    a.level-item(href="#")
                                        img(src="placeholder/icons/instagram.svg", alt="")

            hr

            section.section
                .container
                    .columns.is-desktop.is-vcentered
                        .column.is-6-desktop
                            h2.title Official Pied Piper T-Shirt
                            p.subtitle $39,99 (Ex. Tax)

                            .tabs
                                ul
                                    li.is-active
                                        a(href="#") Active Tab
                                    li
                                        a(href="#") Inactive One
                                    li
                                        a(href="#") Inactive Two

                            p.subtitle This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.
                            table.table.is-fullwidth
                                tbody
                                    tr
                                        td Item one
                                        td.has-text-right First value
                                    tr
                                        td Item two
                                        td.has-text-right Secound value
                                    tr
                                        td Item three
                                        td.has-text-right Third value
                            
                            button.button.is-primary Buy Now!

                        .column.is-6-desktop
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                            .level.is-mobile
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .level-item
                                    img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

            hr

            include components/footer.pug 
