doctype html
html(lang="en")
    head
        title Bulma CSS - Features Elements
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Features Elements styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Features Elements styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/features.pug") source code

            hr 

            section.section
                .container
                    h2.title.has-text-centered Some of our awesome features

                    .columns
                        .column.is-3
                            h4.title.is-spaced.is-4 Decentralized
                            p.subtitle.is-6 Your data is stored in many places at once. Awesome, right?
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Secure
                            p.subtitle.is-6 Nobody will be able to use your data without your consent.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Private
                            p.subtitle.is-6 Your online activity is only yours to know. Always.
                            a(href="#") Read more
                        .column.is-3
                            h4.title.is-spaced.is-4 Speed
                            p.subtitle.is-6 Unimaginable transfer speed thanks to middle-out compression.
                            a(href="#") Read more

            hr

            section.section
                .container.has-text-centered
                    h2.title Some of our awesome features

                    .block
                        img.is-16by9(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")

                    .columns.has-text-left
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Security
                                    p.subtitle.is-6 Your data is virtually unhackable compared to traditional net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Privacy
                                    p.subtitle.is-6 Nobody is tracking you when your activity when you use Piper Net
                        .column.is-4
                            .columns
                                .column.is-2
                                    img(src="placeholder/icons/check.svg", alt="")
                                .column.is-10
                                    h4.title.is-spaced.is-4 Speed
                                    p.subtitle.is-6 Previously unimaginable transfer speed thanks to middle-out compression

                    .buttons.is-centered
                        a.button.is-primary(href="#") Read more

            hr

            include components/footer.pug 
