doctype html
html(lang="en")
    head
        title Bulma CSS - Footers
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Footers styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Footers styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/footers.pug") source code

            hr 

            footer.footer
                .container
                    .level
                        .level-left
                            .level-item
                                a.title.is-4(href="#") Bulma Footer #1
                        .level-right
                            a.level-item(href="#") Features
                            a.level-item(href="#") Enterprise
                            a.level-item(href="#") Support
                            a.level-item(href="#") ICO

                    hr

                    .columns
                        .column
                            .buttons
                                a.button(href="#")
                                    img(src="placeholder/icons/twitter.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/facebook-f.svg", alt="")
                                a.button(href="#")
                                    img(src="placeholder/icons/instagram.svg", alt="")

                        .column.has-text-centered.has-text-right-tablet
                            p.subtitle.is-6 &copy; 2019  - MIT License

            hr

            footer.footer
                .container
                    .columns
                        .column.is-4.has-text-centered.is-hidden-tablet
                            a.title.is-4(href="#")
                        .column.is-4
                            .level
                                a.level-item(href="#") Features
                                a.level-item(href="#") Enterprise
                        .column.is-4.has-text-centered.is-hidden-mobile
                            a.title.is-4(href="#") Bulma Footer #2
                        .column.is-4.has-text-right
                            .level
                                a.level-item(href="#") Support
                                a.level-item(href="#") ICO
                    p.subtitle.has-text-centered.is-6 &copy; 2019  - MIT License

            hr

            include components/footer.pug 
