doctype html
html(lang="en")
    head
        title Bulma CSS - Image Gallery
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Image Gallery styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Image Gallery styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/gallery.pug") source code

            hr 

            section.section
                .container
                    h2.title.has-text-centered Bulma Gallery #1

                    .columns
                        .column
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

            hr

            section.section
                .container
                    h2.title.has-text-centered Bulma Gallery #2

                    .columns.is-multiline
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-4
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

            hr

            include components/footer.pug 
