doctype html
html(lang="en")
    head
        title Bulma CSS - How it Works
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="How it Works elements styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle How it Works elements styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/how-it-works.pug") source code

            hr 

            section.section
                .container.has-text-centered
                    h2.title PiperNet Setup

                    .columns.is-multiline.is-centered
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 1] Move Data
                            p Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag & drop.
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 2] Integrate Software
                            p We want to make sure that you can keep using the software that you use to manage your  business.
                        .column.is-8.is-4-widescreen
                            .block
                                img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2", alt="")
                            h4.title #[small.number 3] Ongoing Support
                            p As with all innovative technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for&nbsp;you.

                    .buttons.is-centered
                        a.button.is-primary(href="") Learn more

            hr

            section.section
                .container
                    h2.title.has-text-centered PiperNet Setup

                    .columns.is-vcentered
                        .column
                            h2.title.is-spaced How to start
                            p.subtitle Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.
                            a.button.is-primary(href="#") Start Setup!
                        .column
                            img(src="https://bulma.dev/placeholder/pictures/bg_16-9.svg?primary=00d1b2" alt="")

                    hr

                    .level
                        .level-item
                            .number.has-background-primary 1
                            h4.title.is-4 Move
                        .level-item
                            .number 2
                            h4.title.is-4 Integrate
                        .level-item
                            .number 3
                            h4.title.is-4 Support

            hr

            include components/footer.pug 
