doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up


            section.hero
                .hero-body
                    .container.has-text-centered
                        h1.title.is-spaced The New Internet
                        h2.subtitle Decentralized, secure, private. The PiperNet is on it's way to revolutionize every smartphone, PC, and smart-fridge near you.

                        .buttons.is-centered
                            a.control.button.is-primary(href="#") Sign up for free
                            a.control.button.is-light(href="#") Read more

            section.hero
                .hero-body
                    .container.has-text-centered
                        h2.subtitle The New Internet
                        h1.title We've built a decentralized internet where information is totally free
                        a(href="#") Read more &raquo;