doctype html
html(lang="en")
    head
        title Bulma CSS - Navbar
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Navbars styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Navbars styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/navbar.pug") source code

            hr 

            nav.navbar
                .container
                    .navbar-brand
                        a.navbar-item(href="#") Pied Piper
                        a.navbar-burger(role="button", aria-label="menu", aria-expanded="false")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                            span(aria-hidden="true")
                    .navbar-menu
                        .navbar-start
                            a.navbar-item(href="#") Features
                            a.navbar-item(href="#") Enterprise
                            a.navbar-item(href="#") Support
                            .navbar-item.has-dropdown.is-hoverable
                                a.navbar-link ICO
                                .navbar-dropdown
                                    a.navbar-item.navbar-item-dropdown(href="#") Whitepaper
                                    a.navbar-item.navbar-item-dropdown(href="#") Token
                        .navbar-end
                            .navbar-item
                                .buttons
                                    a.button.is-light(href="#") Log in
                                    a.button.is-primary(href="#") Sign up

            hr

            include components/footer.pug 
