doctype html
html(lang="en")
    head
        title Bulma CSS - Pagination
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Pagination styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Pagination styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/pagination.pug") source code

            hr 

            nav
                .container
                    .pagination(role="navigation", aria-label="pagination")
                        a.pagination-previous Previous
                        a.pagination-next Next page
                        ul.pagination-list
                            li
                                a.pagination-link(aria-label="Goto page 1") 1
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 45") 45
                            li
                                a.pagination-link.is-current(aria-label="Page 46", aria-current="page") 46
                            li
                                a.pagination-link(aria-label="Goto page 47") 47
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 86") 86

            hr

            nav
                .container
                    .pagination.is-centered(role="navigation", aria-label="pagination")
                        a.pagination-previous Previous
                        a.pagination-next Next page
                        ul.pagination-list
                            li
                                a.pagination-link(aria-label="Goto page 1") 1
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 45") 45
                            li
                                a.pagination-link.is-current(aria-label="Page 46", aria-current="page") 46
                            li
                                a.pagination-link(aria-label="Goto page 47") 47
                            li
                                span.pagination-ellipsis &hellip;
                            li
                                a.pagination-link(aria-label="Goto page 86") 86

            hr

            include components/footer.pug 
