doctype html
html(lang="en")
    head
        title Bulma CSS - Portfolio
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Portfolio styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Portfolio styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/portfolio.pug") source code

            hr 

            section.section
                .container
                    h2.title Great Companies that already use PiperNet

                    .columns
                        .column.is-9
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            .columns.is-mobile.is-multiline
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                                .column.is-4-mobile.is-12-tablet
                                    a(href="#")
                                        img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    .columns
                        .column.is-half
                            h4.title.is-spaced.is-4 Client: K-Hole
                            p.subtitle We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!

            hr

            section.section
                .container.has-text-centered
                    h2.title Great Companies that already use PiperNet
                    
                    .block
                        a(href="#")
                            img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    .columns.is-mobile
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")
                        .column.is-3
                            a(href="#")
                                img(src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2", alt="")

                    h4.title.is-spaced.is-4 Client: K-Hole
                    p.subtitle We are constantly looking for new partners to migrate onto the Piper Net. The future of the internet is here - venture towards it with Pied Piper!


            hr

            include components/footer.pug 

