doctype html
html(lang="en")
    head
        title Bulma CSS - Pricing components
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Pricing components styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Pricing components styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/pricing.pug") source code

            hr 

            section.section
                .container.has-text-centered
                    h2.title Bulma Pricing #1

                    hr

                    .columns
                        .column
                            h3.title.is-4 Small Piper
                            h4.title.is-spaced.is-5 $10 #[small Per user / monthly]
                            p.subtitle Join our network, but build and manage everything yourself.
                            hr
                            ul
                                li 100GB storage
                                li 5 Applications
                                li 20 users max
                                li Unlimited Data Transfer

                            hr

                            .buttons.is-centered
                                button.button.is-primary(type="button") Contact Sales

                        .column
                            h3.title.is-4 Medium Piper
                            h4.title.is-spaced.is-5 $50 #[small Per user / monthly]
                            p.subtitle We build what you need, but you still need to manage your data.
                            hr
                            ul
                                li 1000GB storage
                                li 20 Applications
                                li 200 users max
                                li Unlimited Data Transfer

                            hr

                            button.button.is-primary.is-outlined(type="button") Contact Sales

                        .column
                            h3.title.is-4 Enterprise Piper
                            h4.title.is-spaced.is-5 $100 #[small Per user / monthly]
                            p.subtitle We do everything for you, including managing your data.
                            hr
                            ul
                                li Unlimited storage
                                li Unlimited Applications
                                li Unlimited users max
                                li Unlimited Data Transfer

                            hr

                            button.button.is-primary.is-outlined(type="button") Contact Sales

            hr

            section.section
                .container.has-text-centered
                    h2.title Bulma Pricing #2

                    .columns
                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Small Piper
                                    p.block Join our network, but build and manage everything yourself.
                                    h4.title.is-spaced.is-5 $10 #[small Per user / monthly]
                                    button.button.is-primary(type="button") Contact Sales

                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Medium Piper
                                    p.block We build what you need, but you still need to manage your data.
                                    h4.title.is-spaced.is-5 $50 #[small Per user / monthly]
                                    button.button.is-primary.is-outlined(type="button") Contact Sales

                        .column
                            .card
                                .card-content
                                    h3.title.is-4 Enterprise Piper
                                    p.block We do everything for you, including managing your data.
                                    h4.title.is-spaced.is-5 $100 #[small Per user / monthly]
                                    button.button.is-primary.is-outlined(type="button") Contact Sales


            hr

            include components/footer.pug 
