doctype html
html(lang="en")
    head
        title Bulma CSS - Team Cards
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Team Cards styled with Bulma CSS")
        meta(name="author" content="Bulma-Css.com")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container
                    h1.title.has-text-centered Bulma CSS 
                    p.has-text-centered.subtitle Team Cards styled with Bulma -  
                        a(href="https://github.com/bulma-css-templates/bulma-components/blob/master/src/team.pug") source code

            hr 

            section.section
                .container.has-text-centered

                    h2.title Bulma Team #1
                    p.subtitle We are the guys that made this whole thing possible

                    .columns
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Richard Hendricks
                            p.subtitle.is-6 CEO
                            p When I'm not obsessively stressing about the fate of Pied Piper, I sometimes give lectures to school kids. Spend most of my time coding.
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Dinesh Chugtai
                            p.subtitle.is-6 CTO
                            p I am the absolute best programmer at Pied Piper (especially better than Gilfoyle). My genius shines and guides the Pied Piper team.
                        .column.is-4
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            h5.title.is-5 Bertram Gilfoyle
                            p.subtitle.is-6 Chief Systems Architect
                            p I work on Pied Piper only for the advanced technology. I don't really like most people I work with, but they need me to put out their fires, so&nbsp;I&nbsp;stay. 

            hr

            include components/footer.pug 
