doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container.is-fluid

            section.section
                .container.has-text-centered
                    h2.title What's So Great About PiperNet?

                    .columns
                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!
                            h5.title.is-5 Colin
                            p.subtitle CEO at K-Hole

                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!
                            h5.title.is-5 Russ Hanneman
                            p.subtitle Investor, Angel, Great Guy

                        .column
                            .level
                                .level-item
                                    figure.image.is-128x128
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2", alt="")
                            p.block Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                            h5.title.is-5 Fiona
                            p.subtitle Artificial Intelligence

            section.section
                .container.has-text-centered
                    h2.title What's So Great About PiperNet?

                    .columns
                        .column
                            p.block It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")
                            h5.title.is-5 Colin
                            p.subtitle CEO at K-Hole

                        .column
                            p.block This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")
                            h5.title.is-5 Russ Hanneman
                            p.subtitle Investor, Angel, Great Guy


                        .column
                            p.block Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.
                            .level
                                .level-item
                                    figure.image.is-64x64
                                        img.is-rounded(src="https://bulma.dev/placeholder/pictures/bg_circle.svg?primary=00d1b2")     
                            h5.title.is-5 Fiona
                            p.subtitle Artificial Intelligence

